.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primario;
    flex-direction: column;
    flex-wrap: wrap;
    .main_ultimoPodcast{
        background-color: $color-secundario;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50rem;
        height: 17rem;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: $color-texto 0px 0px 10px;
        animation: main_ultimoPodcast 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        .main_ultimoPodcast--portada1{
            height: 13.8rem;
            border-radius: 1rem;
        }
        .main_ultimoPodcast--info{
            background-color: $color-secundario;
            display: flex;
            flex-direction: column;
            height: 13.8rem;
            justify-content: space-between;
            align-items: flex-start;
            span{
                background-color: $color-secundario;
                margin-left: 1rem;
                font-size: 1.6rem;
                color: $color-texto-secundario;
                width: 16rem;
            }
        }
        .main_ultimoPodcast--playButtonBox{
            background-color: $color-secundario;
            display: flex;
            justify-content: center;
            align-items: center;
            .main_ultimoPodcast--playButton{
                background-color: $color-secundario;
                width: 6.4rem;
                pointer-events: none;
            }
        }
    }
    /*Animacion de portadas SHADOW POP*/
    @keyframes main_ultimoPodcast{
        0% {
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            transform: translateX(0) translateY(0);
        }
        100% {
            box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
            transform: translateX(-8px) translateY(-8px);
        }
    }
}
main{
    .section_title{
        background-color: $color-primario;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            background-color: $color-primario;
            color:$color-texto;
            padding: 3rem 0rem 0rem 1rem;
            font-size: 2.5rem;
        }
        h2{
            background-color: $color-primario;
            color:$color-texto-secundario;
            padding: 0.5rem 0rem 1rem 1rem;
            font-size: 1.6rem;
        }
    }
    .section_portadas{
        background-color: $color-primario;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        flex-wrap: wrap;
        .section_portadas--podcastPortada{
            background-color: $color-secundario;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            margin: 1rem;
            border-radius: 1rem;
            box-shadow: $color-texto-secundario 0px 0px 10px;
            width: 16rem;
            height: 16rem;
            animation: section_portadas--podcastPortada 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }
        /*Animacion de portadas SHADOW POP*/
        @keyframes section_portadas--podcastPortada{
            0% {
                box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                transform: translateX(0) translateY(0);
            }
            100% {
                box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
                transform: translateX(-8px) translateY(-8px);
            }
        }
        
        .section_ultimoPodcast--portadas{
            width: 13.8rem;
            height: 12.6rem;
        }
        .section_portadas--podcastPortada span,a{
            color:$color-texto-secundario;
            font-size: 1.2rem;
            text-decoration: none;
        }
    }
}
