.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "section section section section section"
        "footer footer footer footer footer";
}
.header { grid-area: header; }
.main { grid-area: main; }
.section { grid-area: section; }
.footer { grid-area: footer; }
